<section data-ng-controller="DeveloperController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Developer</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div data-ng-include="'modules/developers/views/form-developer.view.html'"></div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>